{% extends "base.html" %}
{% block page_title %} Month List{% endblock %}

{% block content %}
<div class="card-container">
    <div class="card">
        <div class="card-title">Card Title 1</div>
        <img src="https://via.placeholder.com/300" alt="Image 1">
        <div class="card-description">This is the description for the first card. It provides some information about the content of the card.</div>
        <a href="">More...</a>
    </div>

    <div class="card">
        <div class="card-title">Card Title 2</div>
        <img src="https://via.placeholder.com/300" alt="Image 2">
        <div class="card-description">This is the description for the second card. It provides some information about the content of the card.</div>
        <a href="">More...</a>
    </div>

    <div class="card">
        <div class="card-title">Card Title 3</div>
        <img src="https://via.placeholder.com/300" alt="Image 3">
        <div class="card-description">This is the description for the third card. It provides some information about the content of the card.</div>
        <a href="">More...</a>
    </div>
</div>


{% endblock %}