{% extends "base.html" %}
{% block page_title %} {{ card.card_title }} {% endblock %}
{% block content %}

  <center>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h1 class="mb-4">{{ card.card_title }}</h1>
              <div class="ratio ratio-16x9 mb-4">
                <img src="{{ card.image }}" class="img-fluid" alt="Blog Image">
              </div>
              <p>{{ card.card_description }}</p>
              <p>{{ card.date }}</p>
              <p>{{ card.time }}</p>
            </div>
        </div>
    </div>
  </center>

{% endblock %}
