
<header class="p-3 bg-dark text-white">
    <div class="row">
        <div class="col">
           <h3>NSW TOURISM</h3>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center gap-3">
                <a class="text-light text-decoration-none" href="{% url 'land_page' %}">Home</a>
                <a class="text-light text-decoration-none" href="{% url 'second_page' %}">All cards</a>
                <a class="text-light text-decoration-none" href="{% url 'About_us' %}">AboutUs</a>
                {% comment %} <a class="text-light text-decoration-none" href="">Contact</a> {% endcomment %}
            </div>
        </div>
    </div>
</header>