<header class="p-3 bg-dark text-white">
    <div class="row">
        <div class="col">
           <a class="text-decoration-none text-light" href="./index.html"><h3>Django</h3></a> 
        </div>
        <div class="col">
            <div class="d-flex justify-content-center gap-3">
                <a class="text-light text-decoration-none" href="{% url 'land_page' %}">Home</a>
                <a class="text-light text-decoration-none" href="{% url 'second_page' %}">All cards</a>
                {% comment %} <a class="text-light text-decoration-none" href="">Contact</a> {% endcomment %}
            </div>
        </div>
    </div>
</header>